{% extends 'base/base.html'%}

{% block title %} {{title}} {% endblock %}

{% block content %}

	{% from "macro.html" import render_field %}
	
	
	<form name="sentMessage" id="contactForm" method="POST">
		
	</form>
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<section>
				<div class="panel panel-default top caja">
				  <div class="panel-body">
				    <h3 class="text-center">Login</h3>

					<form method = "post" >
					<input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
					<div class="row control-group">
						<div class="form_group col-xs-12 floating-label-form-group controls">
							{{ render_field(form.usuario, class='form-control') }}
						   <p class="help-blocl text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form_group col-xs-12 floating-label-form-group controls">
							{{ render_field(form.password, class='form-control') }}
							<p class="help-blocl text-danger"></p>
						</div>
					</div>
					
					
					{{form.honeypot}}
					<p><input type="submit" value="Enviar datos"></p>

					<br>

					</form>

					</div>
					
				</div>
			</section>
		</div>
	</div>
					
{% endblock %}
